* {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}

.container {
  background-image: url(../images/bg-main-desktop.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
}
.container .card {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}
.container .card .card-bg-front {
  background-image: url(../images/bg-card-front.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 479px;
  height: 255px;
  left: 90px;
  padding: 9px;
}
.container .card .card-bg-front .card-front {
  display: flex;
  flex-direction: column;
}
.container .card .card-bg-front .card-front .card-number {
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  font-size: 28px;
  margin-top: 70px;
}
.container .card .card-bg-front .card-front .card-infos {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 30px;
}
.container .card .card-bg-front .card-front .card-date {
  display: flex;
}
.container .card .card-bg-back {
  background-image: url(../images/bg-card-back.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 447px;
  height: 245px;
  left: 230px;
  display: flex;
  margin-top: 30px;
}
.container .card .card-bg-back .card-cvc {
  display: flex;
  width: 89%;
  justify-content: flex-end;
  align-items: center;
}
.container .info-card {
  background-color: #fff;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.container .info-card .card-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 240px;
}
.container .info-card .card-form input[type=number]::-webkit-inner-spin-button, .container .info-card .card-form input[type=number]::-webkit-outer-spin-button {
  display: none;
}
.container .info-card .card-form .error-input {
  font-size: 11px;
  color: #ec4b4b;
  display: none;
}
.container .info-card .card-form .error {
  border: 1px solid #ec4b4b !important;
}
.container .info-card .card-form .input {
  border: 2px solid #dedddf;
  width: 300px;
  border-radius: 5px;
  height: 15px;
  padding: 8px;
}
.container .info-card .back-card-infos {
  display: flex;
  justify-content: center;
  width: 60%;
}
.container .info-card .back-card-infos .date-input {
  display: flex;
  flex-direction: column;
}
.container .info-card .back-card-infos .date-input .date-row-input {
  display: flex;
  margin-top: 4px;
  gap: 6px;
}
.container .info-card .back-card-infos .date-input .date-row-input #month_input {
  border: 2px solid #dedddf;
  border-radius: 5px;
  height: 15px;
  padding: 8px;
  width: 20%;
}
.container .info-card .back-card-infos .date-input .date-row-input #year_input {
  border: 2px solid #dedddf;
  border-radius: 5px;
  height: 15px;
  padding: 8px;
  width: 20%;
}
.container .info-card .back-card-infos .input-cvc {
  border: 2px solid #dedddf;
  border-radius: 5px;
  margin-top: 3px;
  height: 15px;
  padding: 8px;
  width: 110px;
}
.container .info-card #confirm_button {
  width: 322px;
  background-color: #21092f;
  color: #ffffff;
  padding: 9px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  height: 40px;
}
.container .info-card #confirm_button:hover {
  background: #666666;
  cursor: pointer;
}
.container .thanks-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .thanks-msg .complete-img {
  width: 90px;
  height: auto;
  margin-bottom: 30px;
}
.container .thanks-msg .thanks-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .thanks-msg .thanks-text h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 12px;
}
.container .thanks-msg .thanks-text p {
  color: #8e8593;
  margin-bottom: 12px;
}
.container .thanks-msg #continue_btn {
  width: 290px;
  background-color: #21092f;
  color: #ffffff;
  height: 40px;
  padding: 9px;
  border-radius: 5px;
  border: none;
}
.container .thanks-msg #continue_btn:hover {
  cursor: pointer;
  background: #666666;
}
.container .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
}

/*# sourceMappingURL=style.css.map */
